nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  margin: 10px;
  color: white;
  text-decoration: double underline;
}
  
button {
  margin: 5px;
}